<div class="card mt-5">
    <div class="card-body">
        <form #phoneForm="ngForm" (ngSubmit)="onSubmit(phoneForm)">
            <!-- Añadimos un campo oculto para controlar si 
            estamos añadiendo o editando un dato-->
            <input type="hidden" name="$key" #key="ngModel" [(ngModel)]="telefonoService.selectedTelefono.$key">    

            <div class="form-group">
                <input type="text" class="form-control" name="centro" #centro="ngModel"
                    [(ngModel)]="telefonoService.selectedTelefono.centro" placeholder="Añadir centro">

            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="ubicacion" #ubicacion="ngModel"
                    [(ngModel)]="telefonoService.selectedTelefono.ubicacion" placeholder="Añadir ubicacion">

            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="numero" #numero="ngModel"
                    [(ngModel)]="telefonoService.selectedTelefono.numero" placeholder="Añadir numero">

            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Nueva Entrada
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(phoneForm)">
                    <i class="fas fa-sync-alt"></i>Reset
                </button>
            </div>
        </form>
    </div>
</div>